:root {
    --royal-blue: #234E70;
    --pale-yellow: #FBF8BE;
    --beige: #DDC3A5;
    --orange-red: #FF4500;
}

::selection {
    background-color: var(--beige);
    color:var(--pale-yellow)
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: black;
    background-color: #dfcfbe;
}

#header {
    text-align: left;
    padding: 25px;
    background-color: var(--royal-blue);
    color: var(--beige);
}
#header h1 {
    display: inline;
    text-align: left;
    font-size: 48px;
}

#header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
nav a:hover {
    color: yellow;
}

header ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color: var(--beige);
    text-decoration: none;
}

main {
    /* display: flex;
    flex-wrap: wrap;
    align-items: stretch; */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3%;

}

.profile-picture {
    flex: 1 0 100px;
    margin: 25px;
    padding: 15px;
    border-style: solid;
    border-radius: 25px;
    border-color: var(--royal-blue);
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#bio {
    padding: 30px;
    margin: 40px;
    border-width: 5px;
    border-radius: 25px;
    border-style: solid;
    border-color: var(--royal-blue);
    background-color: var(--beige);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    margin: 10px;
    padding: 10px;
    border-style: groove;
    border-radius: 25px;
    border-color: var(--royal-blue);
    text-align: center;
}

.content.first {
    flex: 2 1 200px;
}

.Contacts ul {
    border-style: solid;
    border-radius: 25px;
    background-color: var(--beige);
}

.Contacts a:hover{
    color:var(--royal-blue);
    
}

.Contacts a {
    color: var(--orange-red);
}

@media screen and (max-width:768px) {
    nav {
        display: inline;
    }
}